[2014-10-23 16:49] PWani opened #1 "Using a pinned SSL Certificate"
Is there some way to use a pinned SSL certificate?  If there were a way to pass a URL request rather than a URL to init, this could be just handled by CFStream.  i.e. with Socket Rocket I used to  do something like:

        NSURL *url = [NSURL URLWithString: ServerSocketURLString];
        NSMutableURLRequest *request = [[NSMutableURLRequest alloc] initWithURL:url];

        NSString *cerPath = [

[2014-11-20 10:08] abiaad opened #4 "NSOutputStream write : slow"
Hello,

I have a reconnection routine. If `websocketDidDisconnect:error` is called I call a  `performSelector afterDelay` (here I just put 1 second to avoid any UI freeze).
So basically if my server is off I should log every second a `websocketDidDisconnect:error` .

But I've observed `[self.outputStream write:[data bytes] maxLength:[data length]];` is sometimes very slow to be executed.
Do you ha

[2014-11-21 16:39] #4 closed, assigned to nobody

[2015-01-08 16:04] ObjColumnist opened #6 "Analyser Issues"
jetfire has 5 leaks of Core Foundation Objects that are flagged up using the Static Anaylser.

I think most can be fixed using __bridge_transfer rather than simply __bridge

[2015-01-08 16:30] daltoniam commented on #6
Good catch and thanks. I think those should be cleaned up now.

[2015-01-08 16:48] daltoniam commented on #6
new pod spec submitted as well.

[2015-01-08 16:48] #6 closed

[2015-01-11 10:36] walteryaron opened #7 "Timeout"
How to set timeout ?

[2015-01-12 18:21] daltoniam commented on #7
Currently there isn't a way to set a timeout. Is the desired use case to be a timeout like in an HTTP request?

[2015-01-13 10:26] walteryaron commented on #7
Yes.
But for now i manage to solve the problem.
Thanks.

[2015-01-13 15:48] daltoniam commented on #7
Cool. Glad to hear you got it figured out. I will look into what it would take to make add timeout functionally.

[2015-01-13 15:48] #7 closed

[2015-02-03 13:52] kevinrenskers opened #8 "Keep alive? Ping and pong?"
Great project, it was really easy to add websockets support to an app I'm currently building. However, the socket connection always disconnects after one minute. Is there an easy way to keep the connection open, or do I need to keep a timer myself to send ping messages every 30 seconds or so? Or is the server supposed to send these ping/pong messages every once in a while?

[2015-02-03 14:01] kevinrenskers commented on #8
Never mind, it seems that the server should send these periodically to the client if I'm not mistaken?

[2015-02-03 15:30] daltoniam commented on #8
The WebSocket server should send a ping every so often to keep the underlining TCP socket stimulated. jetfire already responds to pings with pongs, shouldn't have to do anything. I would take a look at the WebSocket server and see why it isn't sending the pings to keep the connection alive.

[2015-02-03 15:31] kevinrenskers commented on #8
Yep, server isn't sending them. Thanks!

[2015-02-03 15:31] #8 closed

[2015-02-11 22:18] jtreanor opened #9 "SIGTRAP crash in [JFRWebSocket dequeueWrite:withCode:]"
I am getting some crash reports from `[JFRWebSocket dequeueWrite:withCode:]` with crash logs similar to this:

[code]

Any ideas what might be causing this? The block in `dequeueWrite:withCode:` does quite a lot so I'm not sure what the culprit could be.

[2015-02-11 22:55] daltoniam commented on #9
I couldn't say for sure without some debugging. As you stated, that is a pretty generic error and that method gets called for almost every write to the socket. I might guess that some form of invalid data is being written to the socket. This could be like a NSString or NSData object that has failed out of scope, then the write method is attempted to write some invalid buffer. I would recommend doi

[2015-02-11 23:15] jtreanor commented on #9
Thanks a lot for your reply. I'll do more investigation in the morning as you suggest.

One thing that comes to mind that may be the offender is that if my connection disconnects, I call connect on the same object, could this be troublesome?

[2015-02-11 23:20] daltoniam commented on #9
It shouldn't be. If the connection gets disconnected for any reason, it should fall into the disconnectStream logic and be cleaned up. After that it should like when the object was first created and be ready to reconnect. I haven't seen any issue with reconnecting with the same object in my testing or my app either.

[2015-02-16 16:45] jtreanor commented on #9
The problem here was with my reconnection logic. I ended up sending messages to invalid streams

[2015-02-16 16:47] daltoniam commented on #9
:+1: Glad to hear you got it sorted. Nice work.

[2015-02-17 09:26] nicolasbigot opened #10 "Crash in -(void)dequeueWrite:(NSData*)data withCode:(JFROpCode)code"
I'm experiencing a crash in `-(void)dequeueWrite:(NSData*)data withCode:(JFROpCode)code`.

This crashes on line line 656 for JFRWebSocket.m: `NSInteger len = [self.outputStream write:([frame bytes]+total) maxLength:(NSInteger)(offset-total)];` with EXC_BREAKPOINT (code=1).

I'm using the latest version of your code (branch master), iOS 8.3 on device, iPhone 6.
The connexion in made on a secure web

[2015-02-17 12:59] nicolasbigot commented on #10
This might be related to [this](https://github.com/daltoniam/Starscream/issues/55).

[2015-02-17 23:06] daltoniam commented on #10
Alright thanks for the report. I just did a commit, let me know if that seems to fix it.

[2015-02-20 23:23] daltoniam commented on #10
Where you able to check if the latest code resolves this?

[2015-02-22 13:22] jtreanor commented on #10
Also may be related to #9

[2015-02-22 21:46] jtreanor commented on #10
The more I look into this the more I suspect that this is the same issue I was having in #9. Although I mitigated the issue, the crash has surfaced again, although it is much rarer now.

The fix looks good for `dequeueWrite:(NSData*)data withCode:`. I am receiving very similar crash reports for `initStreamsWithData:port:`. I have opened a PR (#11), to suggest a similar safety fix for this. Let me

[2015-02-26 02:11] daltoniam commented on #10
#11 was merged, @nicolasbigot can you confirm if the crash has been fixed with the latest code?

[2015-02-26 08:22] nicolasbigot commented on #10
It seems to do the trick. No crash since your fix it. Thanks!

[2015-02-26 08:23] #10 closed

[2015-02-26 10:33] Bergamott opened #12 "Error when disconnecting"
Is there a way to disconnect a JFRWebSocket without causing an error code=1000, "continue frame before a binary or text frame"?

[2015-02-26 19:19] acmacalister commented on #12
code 1000 is a normal close and written anytime you do a clean disconnect. Is the error causing you an issue?

[2015-02-27 14:40] jtreanor opened #13 "Reconnecting on same object fails"
On master, reconnecting to the same object seems to be broken.

For example if I create and connect to a new `JFRWebSocket` and some time later call `disconnect`, any attempt to call `connect` on that same object will fail.

This seems to be a regression since 0.1.2.

On a related note, I think it may be a good idea for all calls to `websocketDidDisconnect:error:` to be centralized so that the web

[2015-02-27 15:53] acmacalister commented on #13
Thanks for the report, I'll take a look. I haven't had a chance to completely test out the additions I did in master, which is why I haven't pushed a tag to cocoapods yet. :smile:

[2015-02-27 18:16] jtreanor commented on #13
Thanks @acmacalister. One point to add here, I was testing the repo at ea1da03f957d4c0ece223b7dfc6348f31205d353, so it was introduced sometime before then.

[2015-03-03 21:59] #12 closed

[2015-03-06 18:06] acmacalister commented on #13
@jtreanor. Sorry for the delay. I had a chance to test this and checked a change into master that I think might help. Can you try it out on your end?

[2015-03-06 18:42] jtreanor commented on #13
Thanks for that, I'll check it out!

[2015-03-10 11:46] jtreanor commented on #13
Sorry for the delay @acmacalister. This change stops some unexpected behaviour but the problem of ambiguous connection state causes a problem here.

There is no guarantee that when `websocketDidDisconnect:error:` is called that `_isConnected` will be `NO`, so the problem still exists. At least for now, I am recreating objects rather than attempting to reconnect to the same object.

[2015-03-10 11:54] jtreanor commented on #9
I am reopening this as I have discovered it can still occur. I don't quite understand it but I am getting there. Here are some steps to reproduce:

- Clone master.
- Open `SimpleTest.xcodeproj` (note I don't even need to start the server).
- On device go to Settings -> Developer -> Status -> Enable and set the "Very Bad Network" preset.
- The SimpleTest on device and :boom: :smile:

The crash is a

[2015-03-10 12:03] jtreanor commented on #9
I can also reproduce this reliably by turn the Network Link Conditioner on to "Very Bad Network" and hitting my websocket server.

[2015-03-10 14:37] acmacalister commented on #9
@jtreanor thanks for the steps to reproduce. I will take a look at this today and let you know what I find (hopefully I fix it. :smile: ).

[2015-03-10 16:05] acmacalister commented on #9
@jtreanor I was able to reproduce the issue and believe we got it sorted out. Looks like it was a race condition with the allocations. We added a isCreated property which appears to taken care of it on our end. Do you want to see if you find the same on yours?

[2015-03-10 17:05] jtreanor commented on #9
Thanks for this @acmacalister. I think you are onto something with the race condition. It seems to fix it in some cases.

The crash is still happening for me in my own app through the network link conditioner. It still crashes on this line: https://github.com/acmacalister/jetfire/blob/master/JFRWebSocket.m#L680

If it helps these are the values at the time of the crash:

[code]

As for what may be

[2015-04-03 22:12] acmacalister commented on #13
@jtreanor, sorry for not getting back to you until now. Are you still running into the issue with reconnecting to the same object?

[2015-04-03 22:13] acmacalister commented on #9
@jtreanor, sorry for the delay. I will try and spend some time this weekend and see if I can track anything else down with the link conditioner.

[2015-04-07 16:55] snej opened #15 "Better to use an NSThread than a global dispatch queue"
JetFire runs its background stream handler by dispatching a block to a system concurrent dispatch queue, starting a runloop, and running it indefinitely until the socket closes. This works, but I believe it's bad form for a couple of reasons:

1. The system dispatch queues are supposed to be used for short tasks and shouldn't be blocked for large amounts of time.
2. You're creating a runloop on a

[2015-04-10 19:33] adamkaplan commented on #15
I wandered over here to make a similar comment. Totally agree that spinning a global runloop is bad for business. I was going to suggest an owned dispatch queue, but NSThread is actually a better fit because you don't have to worry about eating into GCDs thread pool.

[2015-04-10 20:19] acmacalister commented on #15
sorry for the delay. I agree an NSThread would be a better call. I remember reading that dispatch queues where supposed to be used for definite timed tasks as well, but I can't seem to find those docs anywhere. if you happen to have a link to those, I would love to add it. I will try and get that change updated today.

[2015-04-10 20:30] adamkaplan commented on #15
@acmacalister It's not really about the lifetime of the task and I doubt you'll find it written as such. The underlying concern is that GCD is a magical box that executes tasks on a pool of threads. It's assumed that all tasks will be finite in duration (otherwise why use a task queue?). The underlying thread that you execute on with GCD is fairly arbitrary.

Even if you create a custom "queue", y

[2015-04-10 20:44] snej commented on #15
As I mentioned above, PocketSocket uses a [shared singleton thread](https://github.com/zwopple/PocketSocket/blob/master/PocketSocket/PSWebSocketNetworkThread.m) to provide a runloop to schedule all of the streams on. That seems the best approach if one's using NSStream/CFStream.

It's very attractive as a low-level interface that fits in very well with dispatch queues; the downside is that you los

[2015-04-10 20:57] acmacalister commented on #15
@adamkaplan Thanks for the writeup. I understand the difference between GCD and how posix threads work. I get that GCD is a thread pool built off [libdispatch](https://libdispatch.macosforge.org) :smile: . I seem to remember many years ago reading docs that had recommendations on when to use GCD over more traditional model, like NSThread. That could just be my poor recollection though.

I will loo

[2015-04-10 22:41] snej commented on #15
No, dispatch_io doesn't dedicate a thread. It's an event-based API that's part of GCD. It lets you schedule a block to run on your dispatch queue when a stream receives data or has space available for writes.

[2015-04-10 22:44] adamkaplan commented on #15
@snej What about something like...
[code]
And something similar for the `readHandle`?

[2015-04-10 22:54] snej commented on #15
I'm pretty certain that by doing that you're bypassing/breaking SSL. Normally if you enable SSL on a CFStream, when you call CFWrite it calls SecureTransport which encrypts the data and then writes that to the socket.

[2015-04-10 23:00] adamkaplan commented on #15
Makes sense

[2015-04-11 03:51] daltoniam commented on #15
I did #16 implementing this with a shared singleton thread. Let me know what you all thing.

[2015-04-11 17:30] snej opened #17 "Server support"
JetFire only supports client-side connections. Server connections are required for apps that want to do P2P messaging (such as mine.)

The necessary bits are:

- [ ] Running a listener socket to accept incoming TCP connections
- [ ] Parsing the HTTP request on an incoming connection
- [ ] Modifying the way messages are sent (i.e. not masking the contents)

You may be able to steal code or at least

[2015-04-13 16:02] adamkaplan opened #18 "Thread-Safety Issues"
The Jetfire API is not thread-safe, and it is not explicitly declared as such. Either add a note that instances of `JFRWebSocket` should not be accessed by multiple threads, or make the API thread-safe. My preference is for the later – putting the responsibility on the library, not the client.

##### Delegate Callbacks
Most of these occur on the private connection queue, not the specific delegate

[2015-04-13 16:27] adamkaplan opened #21 "Adopt a style guide"
What are your thoughts on adopting a style guide for this project?

At Yahoo we typically recommend these:
[Apple's Coding Guidelines for Cocoa](https://developer.apple.com/library/mac/documentation/Cocoa/Conceptual/CodingGuidelines/CodingGuidelines.html)
[NYTimes Objective C Style Guidelines](https://github.com/NYTimes/objective-c-style-guide)

Along with some project-specific guidance.

[2015-04-13 20:51] acmacalister commented on #21
I agree a style guide definitely be good. We generally try to stick with the Cocoa conventions, but some of our old C habits crop up now and again. :smile: I like pretty much everything in the NYTimes style guide, save using spaces over tabs and I don't mind that the else statement are on the same line as the closing if brace like so:

[code]

The comment lines breaking each method is something we

[2015-04-13 20:54] adamkaplan commented on #21
I do like `else` on a new line – at least right now – but I do waffle on that one. The comments help for sure, and I like to add a newline when there is an `else if` since it can get quite crowded with another conditional brand:

[code]

[2015-04-13 20:58] acmacalister commented on #18
I completely agree we should make the API thread-safe. I have an assumption that will probably clear up the outstanding issues of #9 and #13 as they appear to be some sort of race condition. I will try and get a PR together that will address this, unless you already have something. :smiley:

[2015-04-13 21:03] adamkaplan commented on #18
Yeah, that will probably get the project closer to safety. I was testing the water with this issue before committing to code. I have already started three branches:

1. Splitting out the response object (pretty basic, done)
2. Adding quick-and-dirty Autobahn tests runner (in progress)
3. Moving the response-specific parsing into the response object (moderate change but very scary)

1 is done. 3 is

[2015-04-13 21:33] acmacalister commented on #21
agreed. I say we go with your second example as I like newline. I will update the guide accordingly.

[2015-04-13 21:33] #21 closed

[2015-04-13 21:37] snej commented on #15
Marc Krochmal on the macnetworkprog mailing list just clued me in to the functions `CFReadStreamSetDispatchQueue` and `CFWriteStreamSetDispatchQueue`, which do exactly what they say. With these you don't need to do anything funky with threads or runloops — your stream callbacks / delegate methods will get called on whatever queue you want. Brilliant.

[2015-04-13 21:37] acmacalister commented on #17
That would be a cool add, wasn't something I had originally planned on. Since this would probably take some time to test and run through the autobahn suite, PR is welcomed if you have something going.

[2015-04-13 21:41] snej commented on #18
Most Cocoa APIs aren't thread-safe, and Apple's convention is that the docs only point out the ones that _are_ safe, i.e. if the docs don't say it's thread-safe, it isn't. So JetFire is in compliance with that :)

My strong belief is that in most cases thread-safety should be added only at a level that requires it. There is a lot of overhead (performance as well as code size and testing) to making

[2015-04-13 21:47] adamkaplan commented on #18
True enough.

The points still stand though. Much of the thread-safety issues highlighted stem from the API internals improperly notifying delegates on the wrong queues. And although I do agree with not designing for pristine thread-safe API, there are some defensive coding practices that make it a non-issue without any complexity – like calling copy on a headers dictionary that is not expected to

[2015-04-13 21:51] adamkaplan commented on #15
:astonished:  I noticed those properties and but nothing clicked in my head, nice find!

[2015-04-13 21:53] acmacalister commented on #15
@snej, awesome! I will give those a try.

[2015-04-13 21:54] snej commented on #17
To be honest, I'm not likely to get around to this because I'm using PocketSocket instead of JetFire now :( I like JetFire's super small codebase, but server support is a must-have for my project and PocketSocket already has it.

[2015-04-13 22:10] acmacalister commented on #17
Makes sense. Hard to argue when something already works. :smile: Maybe down the road we will be able to get this feature added.

[2015-04-13 22:38] doctordbx commented on #13
I too am experiencing the socket.connected = YES on the disconnect delegate method.

For the time being I'm just catching this in my code (I am using the socket in a singleton to expose it to a wide array of API calls... although early days) and recreating the socket object if required once it has been flagged as disconnected.

Great work on the library though, was able to get up and running very

[2015-04-14 19:55] acmacalister commented on #18
@snej, those are some solid points. I guess I'm sort of conflicted. I agree, most Cocoa APIs aren't thread safe and that does add quite a bit of overhead for the API to have "complete thread safety". Our original goal when we set out to write this library was to provide a simple, concise code base for doing WebSocket's that passed the AutoBahn suite. Thread safety was never a major concern as I di

[2015-04-14 19:59] adamkaplan commented on #18
Seems we're all on the same page: no explicit thread-safe API, but promote defensive coding practices.

It helps a lot that the class already has 3 running queues. That fact is the only reason why I suggested thread-safety (but again, backing off to just "defensive programming" where it makes sense).

[2015-05-20 01:19] jojojames opened #28 "Feature Request, Pings"
I'd like to request being able to use Pings to a server and having the server send a Pong back.

We'd then be able to handle the Pong with a callback.

https://github.com/koush/AndroidAsync
https://github.com/square/SocketRocket

I think both of these libraries support being able to use Pings.

[2015-05-20 17:24] adamkaplan commented on #28
This is a good idea, not too difficult to do.

The client should be responsible for maintaining the ping-pong stack though, which adds – at least conceptually – friction because not receiving a matching `pong` reply is a protocol-level issue. Just something to consider.

[2015-05-20 17:28] acmacalister commented on #28
@adamkaplan agreed. If I remember correctly it has already been added to Starscream, so should be an easy port.

[2015-05-20 17:37] jojojames commented on #28
Sounds great.

I think AndroidAsync and SocketRocket also pushes the ping-pong stack maintenance to the client.

[2015-06-11 15:31] arietis opened #29 "Weird performance issues"
I'm getting weird performance issues when trying to connect to the host. In case if it's unsuccessful, i'm reconnecting and here is the screenshot of profiler log.
https://www.dropbox.com/s/efz3r1g8d0ezjq3/Screen%20Shot%202015-06-11%20at%2018.28.29.png?dl=0
Shouldn't worker thread stop when attempt is unsuccessful?

[2015-06-15 02:54] daltoniam commented on #29
It will be taken off the runloop once the NSStream delegate reports back the connection is unsuccessful. You are attempting to reconnect every time it fails to connect to the host? Are you getting the `webSocketDidDisconnect:` delegate calls?

[2015-06-15 10:08] arietis commented on #29
Hello!
I do get webSocketDidDisconnect: calls. Here is the screenshot of case with empty webSocketDidDisconnect delegate method implementation. https://www.dropbox.com/s/kw7z14ptaideuue/Screenshot%202015-06-15%2013.06.21.png?dl=0

[2015-06-16 15:24] daltoniam commented on #29
Interesting. I would add some logging and make sure the `isRunLoop` is getting set to NO.

https://github.com/acmacalister/jetfire/blob/master/JFRWebSocket.m#L307
https://github.com/acmacalister/jetfire/blob/master/JFRWebSocket.m#L258

If the `isRunLoop` gets set to NO, then the thread should stop shortly afterwards.

[2015-06-23 11:29] maxydey commented on #29
Hey, getting same issue.
[JFRWebSocket stream:handleEvent:] is being called, there isRunLoop = NO  there, but in
    while (self.isRunLoop)
        [[NSRunLoop currentRunLoop] runMode:NSDefaultRunLoopMode beforeDate:[NSDate distantFuture]];

isRunLoop is still 'YES' and it executes forever

[2015-06-23 11:43] maxydey commented on #29
Fixed it by switching strings :

    self.isRunLoop = YES;
    [self.outputStream write:[data bytes] maxLength:[data length]];

Otherwise disconnectStream: is being called before self.isRunLoop = YES, so it has no chance to be setted back to NO.

[2015-06-23 19:37] daltoniam commented on #29
@maxydey nice find, I could have swore I already change that, must have done it in Starscream. I will change that shortly, thanks!

[2015-07-09 13:05] maxydey opened #30 "JFRWebSocket disconnectStream: crash"
Got new crashlog for you:)

[code]

[2015-07-09 17:27] daltoniam commented on #30
Thanks for the report, but unfortunately this doesn't give me much to go off. This just shows me a crash happen at some point in the program execution and the jetfire background thread/runloop was running when it did. Next time the error happens could you get the backtrace? (just run `bt` on the debugger to pull it.)

For reference: http://lldb.llvm.org/lldb-gdb.html

[2015-07-14 06:45] maxydey commented on #30
Crash happened not in debug session, it's a report from Crashliticks. This is all I've got

[2015-08-14 11:16] BarryHaanstra commented on #29
It would be nice if you could make a new tag / release for CocoaPods. Right now you get 0.1.2 from Jan 8, which does not include this fix.

[2015-08-18 16:39] acmacalister commented on #29
@BarryHaanstra, I will update it today.

[2015-09-03 13:40] BarryHaanstra opened #32 "After disconnecting, thread remains"
Each time I connect / disconnect, I see a new thread hanging, waiting forever in the disconnectStream method.

I do see a 'socket did disconnect, error: Error Domain=JFRWebSocket Code=1000 "continue frame before a binary or text frame"' logmessage, so it should be disconnected and stopped?

It seems to block on [self.writeQueue waitUntilAllOperationsAreFinished], which has 1 pending operation.
Doe

[2015-09-04 08:04] BarryHaanstra commented on #32
Upon further investigation; dequeueWrite adds an operation to the writeQueue, but if the operation catches an error, it calls doWriteError, which in turn calls disconnectStream. This then waits for the queue to finish all operations, but it's called from the queue, so it's waiting for itself?

[2015-09-04 08:25] BarryHaanstra commented on #32
Changing the call to disconnectStream in doWriteError to:

`dispatch_async(self.queue,^{
    [self disconnectStream:error];
});`

Fixes it, but I'd rather leave the real fix up to you

[2015-09-04 20:38] #32 closed

[2015-09-05 03:03] acmacalister commented on #9
I think 0.1.4 update should take care of this.

[2015-09-05 03:03] #9 closed

[2015-09-05 03:03] acmacalister commented on #13
I think 0.1.4 update should take care of this.

[2015-09-05 03:03] #13 closed

[2015-09-05 03:03] acmacalister commented on #28
Added in 0.1.4

[2015-09-05 03:03] #28 closed

[2015-09-05 03:04] acmacalister commented on #29
I think 0.1.4 update should take care of this.

[2015-09-05 03:04] #29 closed

[2015-09-05 03:05] acmacalister commented on #30
Hopefully changes in 0.1.4 will address this. If we get any more information we can reopen it.

[2015-09-05 03:05] #30 closed

[2015-09-05 03:05] acmacalister commented on #1
I started work on this in 0.1.4. Hopefully should have some for the 0.1.5 update.

[2015-09-05 18:23] jojojames commented on #28
Cheers.

[2015-09-15 13:00] mmackowiak opened #35 "Crash in JFRWebSocket.m in version 0.1.4"
Hello!

For some time, about 2 weeks, we experience random crashes happening on app startup, while WS attempts to connect to server. Seems change in this place was introduced in this commit: https://github.com/acmacalister/jetfire/commit/ae6d6559da096c29d4a300dc5a2ae1460f76e433.

Unfortunately, we haven't found any way to reliably reproduce the issue, it seems to happen randomly. I attach screensh

[2015-09-20 19:58] daltoniam commented on #35
I just checked in what I think should fix the issue. Let me know if that does fix it and I will push out a new tag/release.

[2015-09-21 11:30] mmackowiak commented on #35
Thank you very much for your help! We'll check it out after current version is released - temporarily we switched to more stable 0.1.2.

[2015-09-25 17:17] daltoniam commented on #35
:+1:

[2015-09-25 17:17] #35 closed

[2015-10-19 08:38] otis78 opened #37 "can I use this library behind a proxy with authentication?"

[2015-10-19 19:03] acmacalister commented on #37
Sure. I wouldn't see why not. Jetfire doesn't do anything with proxy connections itself, but generally since proxies are transparent to applications, that shouldn't be an issue. As far as authentication goes, I'm not sure what exactly that entails, but I would assume you could just add some headers to the request, as outlined in the README.

[2015-10-21 19:35] aaronscherbing commented on #18
I ran into a threading issue as well.  In JFRWebSocket.m, - processHTTP:length:, the library is calling websocketDidConnect: on the delegate before isConnected is set to true, depending on thread scheduling.

I've been using a dependent library that tries to send bytes into the socket on that callback, but it first checks if the socket is connected.

[2015-10-26 17:13] daltoniam commented on #18
@aaronscherbing I think I found what is wrong. It should be resolved in master with the latest commit. Thanks for the report.

[2015-10-26 17:15] daltoniam commented on #1
This has been added.
https://github.com/acmacalister/jetfire#ssl-pinning

[2015-10-26 17:15] #1 closed

[2015-10-26 17:15] #37 closed

[2015-10-26 17:24] aaronscherbing commented on #18
Great!  Thank you for looking into it.

[2015-11-13 14:59] jtreanor opened #39 "New CocoaPods release from master"
Is there any chance that you could make a new CocoaPod release from master?

I am particularly keen to get the changes from https://github.com/acmacalister/jetfire/pull/36 :smile:

[2015-11-13 22:12] acmacalister commented on #39
Done! 0.1.5 should be in Cocoapods now.

[2015-11-13 22:12] #39 closed

[2015-11-14 00:05] jtreanor commented on #39
Great, thanks @acmacalister 😄

[2015-11-19 16:32] Sheepow opened #40 "Problems compiling for iOS 7"
Good day.
I'm trying to use jet fire 0.1.5 on a project using iOS 7, but it won't let me do that, it highlights syntax errors on both JFRSecurity .h and .m files. I thought it supported iOS 7 and above.

Should I stick with 0.1.4?

[2015-11-20 17:49] acmacalister commented on #40
We intend for it to still work on iOS 7, but we might have used an iOS 8+ API for the SSL pinning by mistake. I will look into to see what we can do.

[2015-12-08 10:24] apanloco opened #41 "Support WebSocket compression"
Any plans for supporting WebSocket compression?

Some random links:
http://tools.ietf.org/html/draft-ietf-hybi-permessage-compression-13
http://stackoverflow.com/a/19300336/592463

[2015-12-10 06:30] acmacalister commented on #41
Not at the moment. I have thought about an abstract way to incorporate WebSocket extensions like compression, but haven't had a chance to look into it.

[2015-12-11 09:35] Niue opened #42 "How to reconnect？"
“ -(void)websocketDidDisconnect:(JFRWebSocket*)socket error:(NSError*)error {
    NSLog(@"websocket is disconnected: %@", [error localizedDescription]);
        [self.socket connect];
}”
I perform the above methods , but "self.isCreated"  is NO. how to reconnect?

[2015-12-21 08:39] kevinrenskers commented on #40
Any news on this?

[2015-12-21 08:45] kevinrenskers opened #43 "SIGTRAP crash in [JFRWebSocket initStreamsWithData:port:]"
[code]

This is unfortunately all I have, a crash via Hockeyapp. It's a pretty common crash for our users, but I've never been able to reproduce it so I can't give you a backtrace or something like that.

[2015-12-22 03:35] netmaid opened #44 "The server sends massive packets."
When the server send massive packets to the client, main thread has stuck for dispatching delegation in the below codes.

https://github.com/acmacalister/jetfire/blob/0.1.5/JFRWebSocket.m#L611-L619
https://github.com/acmacalister/jetfire/blob/0.1.5/JFRWebSocket.m#L621-L629

I've removed dispatch_async() and received packet pooling on onText, and fire delegation using NSTimer.

What do you think ab

[2015-12-29 20:23] acmacalister commented on #44
I could see how that would be a problem. I would suggest using a custom queue and dispatching to the main thread when you are ready. See this in the docs:

https://github.com/acmacalister/jetfire#custom-queue-1

[2015-12-29 20:25] acmacalister commented on #43
I understand. Unfortunately that doesn't really give us anything to take action on. We are going to port some changes/fixes over from Starscream shortly, maybe those will help.

[2015-12-29 20:28] acmacalister commented on #42
I'm not sure what issue you are running into. `self.isCreated` is an internal property and shouldn't affect the public API. Are you having an issue reconnecting when the client gets disconnected?

[2015-12-29 20:29] acmacalister commented on #40
Not yet. Hopefully I can look at this week when I move some of the Starscream fixes over.

[2016-01-16 04:23] #44 closed

[2016-01-16 04:24] #43 closed

[2016-01-16 04:24] #42 closed

[2016-02-29 15:13] pIkEL618 commented on #43
Just wanted to say +1 on this one. We are experiencing exactly this as well. We also get this message:

`CRASH_INFO_ENTRY_0
*** CFHash() called with NULL ***`

@kevinrenskers Have you made some progress on reproducing it / found some workaround?

[2016-03-16 06:11] rashdan commented on #43
We are also experiencing this crash a lot. Can anybody suggest a possible suggestion? Maybe ticket should be reopened. Here is crash report part:

Thread : Crashed: com.apple.root.default-qos
0  CoreFoundation                 0x18242db78 CFHash + 268
1  CoreFoundation                 0x18242ef70 CFBasicHashGetCountOfKey + 500
2  CoreFoundation                 0x18242ed34 CFSetContainsValue + 148
3

[2016-03-16 13:21] rashdan opened #47 "Crash in -[JFRWebSocket initStreamsWithData:port:]"
Our users are experiencing this crash a lot. Can you please look into this?
This is also mentioned here
https://github.com/acmacalister/jetfire/issues/43

Here is crash report part:

Thread : Crashed: com.apple.root.default-qos
0 CoreFoundation 0x18242db78 CFHash + 268
1 CoreFoundation 0x18242ef70 CFBasicHashGetCountOfKey + 500
2 CoreFoundation 0x18242ed34 CFSetContainsValue + 148
3 CoreFoundation

[2016-03-28 09:17] kevinrenskers commented on #43
I'd also like to see this ticket reopened as the crash is still happening.

[2016-03-30 02:06] acmacalister commented on #47
Sorry for the delay in responding. I haven't had a whole lot of time recently to dedicate to OSS. Like I said in #43, a part of a backtrace from a crash reporting service is not helpful in tracking down any potential issues as there are a number of things that can cause crashes with networked code. I would be happy to assist if you have sample app or steps to reproduce this crash. I have changes s

[2016-04-04 12:09] Cloudef commented on #40
https://github.com/acmacalister/jetfire/pull/49/commits/26d2cd2277946c0a3191a71f59611a8b10854d1f#diff-7522e50e7a330f1fc27131f9f173feaaR120 may be relevant

[2016-04-27 22:02] mixdux commented on #1
I just lost two hours while trying to implement pinned certificate - the problem was not in the library but the certificate file itself, PWani's code might be misleading as just minutes ago I figured that in my case
[code]
could only make valid certRef object if the original certificate was **DER** encoded. This might save somenone else's time, Jetfire is alas not making any problems for self sign

[2016-05-01 04:16] acmacalister commented on #1
@mixdux thanks for the feedback. I will make a note of that in the README as well.

[2016-06-29 15:56] belakva commented on #47
Hey, I experience similar issue, though it debug mode it mostly hits breakpoint, not a crash.

It started happening when we moved to wss:// from ws:///

it happens in `[JFRWebSocket initStreamsWithData:port:] `
on line
`[self.outputStream write:[data bytes] maxLength[data length]];`

report
[code]

I think I can provide sample app if needed.

[2016-08-19 01:41] acmacalister commented on #47
@belakva A sample app would be great. A few weeks ago I fixed an issue with SSL stuff, which is in master, but I haven't had a chance to bump the spec yet. What version of Jetfire are you using?

[2016-09-26 07:58] jixuqianxing commented on #43
+1

[2016-10-12 03:16] thaoth58 opened #52 "Support subscribe method"
Thank for your awesome library.
My service asked me to subscribe to a destination, but i don't know how to do it.
I've read Stomp Websocket document, it said that it has a method "subscrible".
Can you help me? Thank so much.

[2016-10-12 03:50] acmacalister commented on #52
Well, Jetfire is just a WebSocket library. The STOMP protocol is built on the top of it. Someone has already done some work building a STOMP WebSocket library on the top of Jetfire here:

https://github.com/rguldener/WebsocketStompKit

You might be able to use that or at the very least it could get you started in the right direction.

[2016-10-12 03:53] thaoth58 commented on #52
Thank for your early reply.
I used that library, but sometimes it doesn't response anything when i try
to connect.
I asked a question in stackoverflow but no one answer :(

http://stackoverflow.com/questions/39957667/stomp-websocket-sometimes-doesnt-response

2016-10-12 10:50 GMT+07:00 Austin Cherry <notifications@github.com>:

--

Best regards
---------------------------------

Trương Hữu Thao,
K

[2016-10-12 04:05] acmacalister commented on #52
I read the SO post. That doesn't really give me anything to go off to help. There are so many things that can cause the response to fail to come back. I might suggest trying to fork the library and update Jetfire for all it's fixes. Probably the best place to start would be to start troubleshooting the networks issues though to see if you can track down were network issue is coming from. Maybe run

[2016-10-12 04:08] thaoth58 commented on #52
Thank for all.
I've checked the issuses of this library. And i find the issuse like me :D
https://github.com/rguldener/WebsocketStompKit/issues/9

2016-10-12 11:05 GMT+07:00 Austin Cherry <notifications@github.com>:

--

Best regards
---------------------------------

Trương Hữu Thao,
K58CLC- Faculty of Information Technology,
University of Engineering and Technology,
Vietnam National University,

[2016-10-12 04:15] #40 closed

[2016-10-12 04:15] #47 closed

[2016-11-07 07:07] germs5 opened #55 "Make a new Podfile release for the new nullable signatures."
Bump up either the major number or the minor number, as the user code may need to change due to nullable in the methods/delegates/properties.

[2016-11-08 18:12] acmacalister commented on #55
I'll try to do that this evening. Thanks.

[2016-11-08 18:12] #52 closed

[2016-11-28 09:37] germs5 commented on #55
I am still seeing 0.1.5 in https://cocoapods.org/?q=jetfire

[2016-12-13 07:44] yx-mike opened #57 "Support to send Chinese?"
😱

[2016-12-15 09:38] dreamguagua opened #58 "crash! crash in line 124 of JFRSecurity.m"
When we put the certificate in local and set ‘userPublicKeys=Yes’.Then run into line 124 of JFRSecurity.m may be crash! Because self.pubKeys is nil.

[2017-01-15 01:58] mykoma opened #59 "NSRunLoop Crash!"
I have met a crash at
[code]
The Line ```  [[NSRunLoop currentRunLoop] runMode:NSDefaultRunLoopMode beforeDate:[NSDate distantFuture]];``` always crash when I create many socket in a short time. Maybe there is a third sdk conflict with these above code.

And I spent half day to fix this problem , and finally I find a way to avoid this bug. The code is:
[code]

I am not sure why this crash happend,

[2017-03-30 07:53] rookieJX commented on #59
I have the same crash

[2017-04-02 05:35] syedrazackimran opened #60 "websocket is disconnected:"
Hi, I need a help.. i'm trying to implement socket for obj-c but i'm facing below issues .. same IP and Port i try to implement on swift socket.io its connect ,.. but obj-c its return disconnected .. i don't know why kindly do needful .. they are using socket >v1.0 is it support for that version

urlRequest = "<CFHTTPMessageRef 0x600000169240(0x600000169250)> { GET request, url http://192.168.17.7

[2017-04-26 15:29] maxerogers opened #61 "Wrong Legal: "All rights reserved.""
[code]

This needs to be changed as it doesn't comply with your Apache 2.0 license.

e.g. how it is done in Starscream
[code]

Files that need to be changed:
- [Jetfire.h](https://github.com/acmacalister/jetfire/blob/master/Jetfire.h)
- [Jetfire-Mac.h](https://github.com/acmacalister/jetfire/blob/master/Jetfire-Mac/Jetfire-Mac.h)
- [JFRSecurity.h](https://github.com/acmacalister/jetfire/blob/maste

[2017-05-09 22:43] SteveDCronin opened #63 "Xcode warning thrown"
new to GitHub so maybe not the right avenue for this...

I was surprised when I compiled on Xcode 8.3.2 and got a warning.

JFRWebSocket.m -dequeueWrite:withCode: line 36
            SecRandomCopyBytes(kSecRandomDefault, sizeof(uint32_t), (uint8_t *)mask_key);

Normally a warning doesn't throw me but the text of this was onerous enough that I thought I would report it..  "...Ignoring return value

[2017-05-22 23:36] nathanday opened #64 "JFRSecurity.pubKeys is never set"
Presumable its suppose to be set in -[JFRSecurity initWithCerts:publicKeys:] but _self.certificates_ is only set no matter what the value of _publicKeys_

[2017-05-24 02:38] nathanday opened #65 "JetFire does not provide a mechanism for using client side certificates"
More of a suggestion than a issue, I needed to use client side certificates, the way I got around this was to create a dictionary property on JFRWebSocket called additionalOutputStreamProperties which is then enumerated over applying the setProperty:forKey: for each entry to the output stream, adding something like this to JetFire would make it easy to handle any niche use case.

[2017-06-07 17:58] Hersir88 opened #66 "Timeout to close web-socket"
I wanted to close web-socket if some timeout is elapsed and no ping was received from server, but there is no listener for ping received, is there other mechanisms how to close web-socket on client if server dies?

[2017-07-25 13:34] BarryHaanstra commented on #55
Did this happen? I'm still seeing 0.1.5...

[2017-08-02 10:10] Supertecnoboff commented on #66
Couldn't you just setup your own ```NSTimer``` that checks to see if any data was returned after say 60 seconds? If data is present, then continue as normal, otherwise simple call: ```[self.socket disconnect];```.

[2017-08-02 10:12] Supertecnoboff commented on #61
Wow you have got to be the first person I have ever seen that cares about this stuff lol

[2017-08-02 19:52] Supertecnoboff commented on #60
I have the exact same issue too. @acmacalister do you know what is wrong?

[2017-08-04 09:36] Supertecnoboff commented on #60
Ok I was having same issue, but I managed to fix it. Firstly I was trying to use this library with the Twitter Streaming API.... which doesn't support sockets..... great start!

But secondly I ended up using ```NSURLSession``` and its associated delegate methods, to setup and load in the continuous stream of data, from the Twitter API. Works perfectly and is incredibly easy to setup. I would recom

[2017-08-12 02:35] acmacalister commented on #60
I'm not sure how to help on this. Websockets != Socket and definitely != Socket.io. If you working with Socket.io you would need to use a wrapper library or use Jetfire as a base implementation for the Websocket of Socket.io.

[2017-08-12 02:38] acmacalister commented on #65
Agreed this is the feature request. I believe this is related to the same request we got on https://github.com/daltoniam/Starscream/issues/271

[2017-08-12 02:40] acmacalister commented on #66
The socket will get disconnected after the server stop responding to pings. The timeout is generally set on the server side. If you want to disconnect earlier for reason, I would use a Timer like @Supertecnoboff suggested.

[2017-08-12 02:40] #66 closed

[2017-08-12 02:54] acmacalister commented on #61
Good catch. Fixed.

[2017-08-12 02:54] #61 closed

[2017-08-12 02:55] #57 closed

[2017-08-18 08:02] RicardoAnjos commented on #43
+1

[2017-08-22 22:43] acmacalister commented on #63
This should be fixed in master now.

[2017-08-22 22:43] #63 closed

[2017-08-22 22:43] #60 closed

[2017-08-29 14:42] krosinski commented on #59
I fixed the crash on my fork (with extra refactoring and design changes), the real issue was the ability to initialize multiple connections when calling [socket connect] a few times on a disconnected socket (created state marked asynchronously).

#67 Add blocking connect and move handling connection to dedicated NSThread

[2017-09-06 21:33] Evgeny-A opened #68 "bug in error construction?"
Is this line correct?

https://github.com/acmacalister/jetfire/blob/2a0811d5db6be2451a788b71724ad714ff334610/JFRWebSocket.m#L779

Shouldn't it be this way:

`details[NSLocalizedDescriptionKey] = detail;`

[2017-09-25 12:03] Evgeny-A opened #70 "crash in [JFRWebSocket dealloc]"
If self.isConnected == YES in dealloc, then the following line crashes in dequeueWrite:

`__weak typeof(self) weakSelf = self;`

objc[1409]: Cannot form weak reference to instance (0x6000000f6b80) of class JFRWebSocket. It is possible that this object was over-released, or is in the process of deallocation.

[2017-09-27 11:48] vasily-popov opened #71 "Please update cocoapod spec and update trunk"

[2017-10-03 01:02] antoinelavail opened #72 "Certificate pinning vulnerability: CVE-2016-2402"
Hi guys,

I was wondering if you were aware of [this vulnerability](https://www.cve.mitre.org/cgi-bin/cvename.cgi?name=2016-2402) when using certificate pinning?

I stumbled upon this when reading the latest [SocketRocket commit](https://github.com/facebook/SocketRocket/commit/28035e1a98a427853e4038ff1b70479fa8374cfa).

Thanks a lot,

[2017-10-07 07:48] bakkiraju opened #73 "nw_connection_get_connected_socket 1 Connection has no connected handler"
On High Sierra Beta (17A362a)

From my OS X command line application When I try to connect to URL ws://127.0.0.1:10134
I see success

But from my OS X app, when I connect to same url, I am seeing

2017-10-06 17:38:14.739725-0700 crafttest[70526:6739789] [] nw_socket_connect connectx failed (fd 14, 127.0.0.1:10134 stream, pid: 70526): [1] Operation not permitted
2017-10-06 17:38:14.739934-0700 craf

[2017-10-09 17:58] bakkiraju commented on #73
I followed this post and added the capability mentioned there and it worked, it was os x app capability thing not jetfire issue

https://stackoverflow.com/questions/42109952/findersync-extension-http-request-to-failing/42125119

[2017-10-09 17:58] #73 closed, assigned to nobody

[2017-10-10 00:10] acmacalister commented on #72
I wasn't. Thanks for bringing to my attention. I don't really have a good test environment to confirm or deny the issue for Jetfire, but I will take a look at the code and see what we need to do.

[2017-10-10 00:11] acmacalister commented on #68
You are correct. I'm working on updating Jetfire to better match what we are doing in the Swift version, so I will roll this fix in there.

[2017-10-10 07:52] antoinelavail commented on #72
Sounds great! Let us know what you find, thanks!

[2017-10-26 05:22] emes commented on #71
Any plans for a release soon?

[2017-11-17 09:51] vkolosovsky commented on #65
Is there any progress on this?

[2017-11-29 09:02] alessiocasti opened #75 "onDisconnect block never gets called"
I believe you need to call the onDisconnect() at the end of `- (void)doDisconnect:(NSError*)error`

[2017-12-08 08:45] BadDeveloper2022 opened #76 "TCP delay"
How to solve the delay problem

[2017-12-11 06:28] SusheelYadav455 opened #77 "Getting Error Messging while connecting to Server"
Hi ,
Thanks for Providing the SDK , I like the way u formulated the methods and code in a Structured way . I want to implement the SDK in one of my company Project . After integrating the pod file , i have followed the steps which u have mentioned in Readme file , but i am facing with error .

Error : websocket is disconnected: The operation couldn’t be completed. (JFRWebSocket error 1.)
Note : I

[2017-12-15 04:14] nathanday opened #78 "lost connection inconstencies?"
Trying to handle a loss of network connection in our app I have found inconsistencies when trying to reconnect. The two ways I test loss of network are, using Apples "Network Link Conditioner" with 100% loss and pulling out the Ethernet cable. When my error delegate method (websocketDidDisconnect:error:) is called I just wait a small amount of time and call connect again on the same JFRWebSocket i

[2017-12-21 23:12] emes opened #79 "deadlocks"
We're seeing occasional deadlocks where jetfire is the only active thread.  Any chance this starscream issue is also a jetfire issue?  I'm guessing not.

https://github.com/daltoniam/Starscream/issues/164#issuecomment-176634701

[2018-01-03 03:01] nathanday commented on #78
I have had a chance to look at this myself, the problem is a race condition with the instances variable **didDisconnect**, if you try to connect and it fails immediately, the method **-[JFRWebSocket doDisconnect:]** is called before the block to set **self.didDisconnect = NO** in **-[JFRWebSocket connect]** is called. Is setting self.didDisconnect in a queue for key value observing? If so the test

[2018-01-05 22:39] Evgeny-A opened #80 "several issues"
I want to share several issues I found. Maybe it can be useful to someone.

When I was looking for Web Sockets library in ObjC, this was referenced as the best one. So I used it in my application. But then I got a few crash reports. I didn't have any since release in App Store. I haven't reviewed this code good enough before adding it. When I did, I found several issues in it. I found that it is "

[2018-01-15 15:09] jarrillaga commented on #65
@nathanday Did you achieve to use Client side certificates ? Can you share you code of WebSocket.swift ?

[2018-01-18 06:56] emes commented on #80
@acmacalister Is jetfire going to be updated?  Thanks!

[2018-01-30 10:49] BadDeveloper2022 opened #81 "How to solve the problem of delay"
How to solve the problem of delay

[2018-02-05 06:56] ashutosh-foodpanda commented on #66
How can I setup the timeout for connection? Any property in project or something else?

[2018-04-12 08:31] marcuschoong opened #82 "How to add query/parameters upon connect?"
My socket server require to put in query/parameters upon connect, may i know how to add in the query/parameter by using this library?

[2018-06-11 06:12] ashutosh-foodpanda commented on #43
Anyone got any solution?

[2018-06-12 09:50] ashutosh-foodpanda commented on #47
@acmacalister I am using 0.1.5 and experiencing the same issue. Can you provide any solution.

[2018-06-26 05:12] nathanday opened #84 "Timeout from ping"
We want to have a time out feature when we haven't received anything from the server including pongs from our pings, but I don't see how we can know when we get a pong response from our ping.
What am I missing, whats the point of us sending a ping if we can not handle the corresponding return pongs, the server sends its own pings to test if we still available?
It we be nice if we knew when the ser

[2018-06-26 07:34] caoMingLiang opened #85 "NSOSStatusErrorDomain Code=-9810"
2018-06-26 15:30:33.928670+0800 CallPolice[30061:3015055] urlRequest = "<CFHTTPMessageRef 0x1c036d800(0x1c036d810)> { GET request, url wss:www.video110.cn:8000/skynet/ws/websocket }"

2018-06-26 15:30:33.929882+0800 CallPolice[30061:3015055] CFNetwork SSLHandshake failed (-9810)

2018-06-26 15:30:33.930174+0800 CallPolice[30061:3015055] TCP Conn 0x0 SSLHandshake failed (-9810)

2018-06-26 15:30:33

[2018-09-19 09:30] CyberMew commented on #80
Maybe try SocketRocket?

[2018-10-10 20:02] imann24 opened #86 "tvOS Support"
Hi, I wanted to check whether tvOS has been tested/supported?

[2018-10-31 09:39] fassko commented on #86
@imann24  For tvOS you can use https://github.com/daltoniam/Starscream/ I'm using that for tvOS in production.

[2018-11-09 21:41] imann24 commented on #86
Thanks very much!

[2019-01-23 21:51] 59adc5ed-4a64-4984-bf6a-2b9117da6625 commented on #80
@Evgeny-A

3 - can be solved by doing the following in JFRWebSocket.m:

[code]

Instead of

[code]

7 - Surprisingly I've dumped tons of different data through this including my own packets with custom header. I've done this with all sizes of data from 1 byte to 50MB. I have not hit a single issue yet

[2019-01-23 21:54] 59adc5ed-4a64-4984-bf6a-2b9117da6625 commented on #79
This usually comes down to application architecture, which I run into myself a lot. Was getting deadlocks until I read this part on the README.

It's very important to understand what thread model this (and other websocket libraries) run on.

[2019-01-23 21:57] 59adc5ed-4a64-4984-bf6a-2b9117da6625 commented on #85
You're not properly setting the flag for self signed certificates, either that or there is an SSL handshake error from your server.

I hit against your server real quick and it looks like it's serving malformed SSL handshakes

[2019-01-23 22:03] 59adc5ed-4a64-4984-bf6a-2b9117da6625 commented on #84
Ping/Pong delegate method unfortunately weren't implemented in this library.

So this lib does do ping/pong but it's at a lower level in the ProcessRawMessage function, meaning it's unusable from an application logic perspective.

Quick way around this is to come up with a language between the server and client, for example send three raw bytes /00/01/00, then catch this in the `didReceiveData` de

[2019-01-23 22:05] DogFive commented on #76
Looks like this may have been a CFNetwork issue, I'm no longer experiencing this.

[2019-02-20 18:56] tolgatanriverdi opened #88 "Custom Stream"
Hi

In starscream project there is a method called
`public init(request: URLRequest, protocols: [String]? = nil, stream: WSStream = FoundationStream())`

which allows us to use custom stream object, but in this library I wasnt able to see that functionality. So how can I set a custom stream for a websocket

[2019-03-22 08:51] MKMichaelMK commented on #88
Hi

I am in the same situation. Have you resolved this problem?

[2019-03-26 09:30] kapilsardana19 commented on #43
???

[2019-10-01 14:46] JulzPolz opened #89 "iOS13 Compatibility"
There are a few new warnings as a result of iOS13.

The main culprit seems to be...
`'SecTrustEvaluate' is deprecated: first deprecated in iOS 13.0`

Screenshots of the code with these warnings...
<img width="1234" alt="Screenshot 2019-10-01 at 15 43 46" src="https://user-images.githubusercontent.com/153706/65972815-4fe75780-e462-11e9-8ead-c5cfa7abdc45.png">
<img width="1231" alt="Screenshot 2019-

[2019-10-03 13:01] JulzPolz commented on #89
Any thoughts on this @acmacalister ? Its just generally much better to have no warnings in the code so that developers are able to spot new warnings during coding instantly without having to read through a list of existing warnings. Thanks.

[2019-10-15 11:03] JulzPolz commented on #89
Thanks for fixing this. Any idea when it will be pulled into master? Thanks.

[2019-11-01 16:12] JulzPolz commented on #89
@ddaddy any news for when this will be hitting master?

[2019-11-01 16:18] ddaddy commented on #89
Sorry, I'm not the owner of this. I submitted the pull request but @acmacalister needs to pull it.

[2019-11-01 16:19] JulzPolz commented on #89
Ok cool. Will wait for @acmacalister to merge into master then.

[2019-11-19 20:08] themartorana commented on #89
There are 11 open pull requests open since 2015, and no commit on this repo for over 2 years. I'm guessing it's a dead repo.

Interestingly, Sonos just forked it: https://github.com/sonos/jetfire

[2020-05-20 14:04] nirav-kotecha opened #91 "Disconnect immediately after connect to server"
I am experiencing the `socket.connected = YES` on the disconnect delegate method.

Each time i am connecting to server and its disconnect with this error: **Error Domain=JFRWebSocket Code=1000**

what should i do ? my project is fully on objective-c. can't go for swift.

[2020-12-02 18:27] muraviovvladimir opened #92 "How to get more disconnect information"
This how
Change JFRWebSocket.m line 390 to 397 with

`if(status == NO) {
                    [self doDisconnect:
                     [self errorWithDetail:@"Invalid HTTP upgrade" code:1 userInfo:
                        @{
                            @"HTTPResponseStatusCode" : @(responseStatusCode),
                            @"HTTPResponseBuffer" : [NSString stringWithFormat:@"%s",buffer]